# Data and outputs
Data/
data/
models/
Outdated/
Results/
videos/
trackers/
runtime/
Rapport/

# Large files
*.pdf
*.mp4
*.pt

# Python
__pycache__/
*.py[cod]
venv/
*.egg-info/
*.log

# Annotation / config files
504_annotations/
*.json